* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

h2, h3, p, #res {
  color: white;
}

h2 {
  font-size: 25pt;
  padding-top: 15px;
}

h3 {
  font-size: 20pt;
  padding-bottom: 15px;
}

p {
  font-size: 13pt;
  padding-bottom: 10px;
}

#container {
  border: 0px solid #000000;
  border-radius: 50px;
  text-align: center;
  width: 80%;
  margin: 20px auto;
  background: #74d2b9;
}

input#n1, #n2, #n3, #submit {
  width: 100px;
  height: 30px;
  font-size: 15pt;
  text-align: center;
  border-radius: 8px;
  background-color: #b8f3e3;
  border: 0px solid transparent;
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px;
}

input#submit {
  border: none;
  color: gray;
}

#res {
  font-size: 15pt;
  width: 100%;
  padding: 20px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
